<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-5" href="/">
        <img class="rounded" src="https://i.etsystatic.com/14675880/r/il/e78a24/1262647919/il_570xN.1262647919_hr7x.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Alien Discovery Report 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/create">Add</a>
        </div>
    </div>
</nav>

<div class="wrapper container-fluid">
    <div class="row" style="height:100vh">  
        <div class="col-md-1 bg-dark"></div>

        <div class="col-md-10">
            <div class="jumbotron mt-5">
                <h1 class="text-center alert alert-dark">404 Not found</h1>
                <img class="rounded mx-auto d-block" src="https://media.giphy.com/media/7Ezfxvm7yBC5q/giphy.gif" alt="aliensssss!"/>
            </div>
        </div>

        <div class="col-md-1 bg-dark"></div>
    </div>
</div>
